body {
    background: #fafafa;
    margin: 0;
}
header {
    background: #333;
    color: #fff;
}
nav {
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-right: 1px solid white; 

}

nav a.active {
    background: #00a884;
}

nav a:last-child {
    border-right: none;
}

.cards {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0;
    width: 100%;
}

.card {
    text-align: center;
    margin: 1%;
    width: 22%; 
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
}

.card_photo {
    width: 30%;
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden; 
}

.card_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.card button {
    background: #0078d7;
    color: white;
    width: 40%;
    padding: 6px 12px;
    border-radius: 6px;
}

.content_block_left{
    display: block;
    text-align: left;
    height: 325px;

}
.content_block_right{
    display: block;
    text-align: right;
    height: 325px;

}

.content{
    margin-left: 50px;
    margin-right: 50px;
    display: block;
}

.content_block_left img,
.content_block_right img {
    width: 15%;
    margin: 20px;

    display: inline-block;
    vertical-align: middle;
}

.content_text{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.top-gallery {
    font-size: 0;
    height: 300px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
}

.photo_box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.photo_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.left-gallery-side{
    width: 33.33%;
    float: left;
    font-size: 0;
    height: 50%;
}

.right-gallery-side{
    width: 66.66%;
    float: right;
    font-size: 0;
    height: 100%;
}

.right-gallery-top{
    display: block;
    height: 75%;
}

.right-gallery-bottom{
    height: 25%;
}

.right-gallery-bottom img{
    display: inline-block;
    width: 50%;
}

